@import "./base.css";

.title-bar {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    background: #f5f5f5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title-bar .buttons {
    display: flex;
    margin-right: 15px;
}

.content {
    padding: 15px;
}

.content p {
    margin-bottom: 15px;
}

.content a {
    color: #007BFF;
    text-decoration: none;
}

.content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}