@charset "UTF-8";
@import "/codemirror/github-markdown-light.css";
@import "./base.css";

#splashScreen {
    position: fixed;
    inset: 0;
    font-size: 1.25rem;
    font-weight: 500;
    z-index: 100;
    background-color:var(--sunlight-gray-900);
    color: var(--sunlight-gray-500);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

html {
    font-size: 15px;
}

body {
    @apply antialiased;
    font-family: system-ui, sans-serif;
    background-color: var(--sunlight-gray-900);
}

#sideNav {
    @apply text-base w-64 scroll-smooth;
    background-color: var(--sunlight-gray-800);
    box-shadow: 1px 0px 0px 0px var(--sunlight-gray-700);
    font-weight: 500;
    overflow-y: auto;
}

#sideNavContainer {
    @apply pt-14 px-2 pb-10;
    line-height: 0;
}

#sideNavUl .icon {
    display: inline-block;
    width: 16px;
    height: 17px;
    vertical-align: text-bottom;
    background-color: var(--sunlight-gray-100);
    @apply mr-2;
}

#allCards .icon {
    mask: url("/asset/documents-bold-duotone.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
}

.tagContainer.selected #allCards .icon {
    background-color: var(--white);
}

#noTag .icon {
    mask: url("/asset/archive-bold-duotone.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
}

.tagContainer.selected #noTag .icon {
    background-color: var(--white);
}

#trashCards .icon {
    mask: url("/asset/trash-bin-bold.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
}

.tagContainer.selected #trashCards .icon {
    background-color: var(--white);
}

#sideNavUl .sep {
    @apply px-3 py-2 rounded;
}

.tagContainer {
    position: relative;
    line-height: 1rem;
    @apply pl-5 pr-5 py-1 rounded;
}

.tagContainer:hover {
    background-color: var(--sunlight-900);
}

#tagsList .tagContainer:hover .count {
    display: none;
}

.tagContainer:hover .tagMenuContainer {
    display: block;
}

.tagContainer.selected {
    background: var(--sunlight-500);
}

.tagContainer.selected * {
    color: var(--white) !important;
}

.tagContainer .tagClick {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagContainer .tagClick .left-group {
    width: 90%;
}

.tagContainer .tagClick .left-group .label {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 79%;
    color: var(--sunlight-gray-200);
    @apply align-text-top;
}

#tagsList {
    @apply pt-6;
}

#tagsList li ul  {
    @apply pl-3;
}

#tagsList li .foldIcon {
    display: inline-block;
    background-color: var(--sunlight-gray-100);
    position: absolute;
}

#tagsList li .foldIcon.open {
    left: 5px;
    top: 9px;
    width: 10px;
    height: 6px;
    mask: url("/asset/caret-down.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
}

#tagsList li .tagContainer.selected .foldIcon.open {
    background-color: var(--white);
}

#tagsList li .foldIcon.close {
    left: 8px;
    top: 7px;
    width: 6px;
    height: 10px;
    mask: url("/asset/caret-right.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
}

#tagsList li .tagContainer.selected .foldIcon.close {
    background-color: var(--white);
}

#tagsList li .tagIcon {
    display: inline-block;
    width: 16px;
    height: 17px;
    vertical-align: text-bottom;
    background-color: var(--sunlight-gray-100);
    mask: url("/asset/tag.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    @apply mr-2;
}

#tagsList li .tagContainer.selected .tagIcon {
    background-color: var(--white);
}

#sideNavContainer .count {
    color: var(--sunlight-gray-600);
}

.tagMenuContainer {
    position: absolute;
    right: 0.25rem;
    border-radius: 9px;
    line-height: 1.2rem;
    @apply px-2;
}

.tagMenuContainer:hover {
    background-color: var(--sunlight-gray-700);
}

.tagMenuContainer:hover .tagMenuOptions {
    display: block;
}

.tagMenuContainer .tagMenu {
    display: inline-block;
    mask: url("/asset/menu-dots.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--sunlight-gray-100);
    width: 15px;
    height: 3px;
    vertical-align: middle;
}

#tagsList .tagContainer.selected .tagMenuContainer .tagMenu {
    background-color: var(--white);
}

#featureDock {
    border-top: 1px solid var(--sunlight-gray-700);
    height: 38px;
    background-color: var(--sunlight-gray-800);
    position: fixed;
    @apply p-2 w-64 bottom-0 flex;
    justify-content: space-between;
}

#featureDock .btnContainer {
    @apply p-1;
    display: inline-block;
    line-height: 0;
}

#publisherBtn {
    mask: url("/asset/publisher.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--sunlight-gray-100);
    height: 16px;
    width: 14.51px;
}

#appSettingsBtn {
    mask: url("/asset/settings.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--sunlight-gray-100);
    height: 16px;
    width: 15.15px;
}

#overlay {
    @apply bg-black opacity-20;
}

#topBar {
    background-color: var(--sunlight-gray-900);
    -webkit-app-region: drag;
}

#topBarContainer {
    @apply px-12;
    position: relative;
}

#topBarContainer #omniSearchButton {
    @apply h-[1.73333333rem];
    border-radius: 0.26667rem;
    -webkit-app-region: no-drag;
}

#btnSideNav {
    @apply absolute left-4 bottom-2 z-20;
    -webkit-app-region: no-drag;
    mask: url("/asset/sidenav-menu.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--sunlight-gray-400);
    width: 16px;
    height: 14px;
}

#btnDuplicateWindow {
    @apply absolute right-4 bottom-1.5 z-20;
    -webkit-app-region: no-drag;
    mask: url("/asset/duplicate-window.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--sunlight-gray-400);
    width: 16px;
    height: 16px;
}

#omniSearchButton {
    @apply h-10 m-0 align-middle text-base;
    background-color: var(--sunlight-gray-800);
    color: var(--sunlight-gray-500);
}

#omniSearchButton .icon {
    @apply align-text-bottom mr-1;
    display: inline-block;
    mask: url("/asset/search.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--sunlight-gray-500);
    width: 14px;
    height: 14px;
}

#listArea.trashList #newItem {
    @apply hidden;
}

#listArea[data-readonly="true"] #newItem {
    background-color: var(--sunlight-gray-800);
}

#newItem {
    background-color: var(--white);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    @apply px-4 pb-4 pt-1 mb-4 rounded;
}

#newItem, #newItem * {
    @apply transition;
}

#newItem[data-editing="true"] {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

#newItem #newItemEditor.empty::before {
    content: "What's on your mind at the moment?";
    position: absolute;
    color: var(--sunlight-gray-600);
    line-height: 2rem;
    cursor: text;
    @apply pl-1;
}

#newItem #newItemEditor .editorPlaceholder {
    height: 48px;
    cursor: text;
}

#cardsList .selected,
#suggestionResults .highlighted,
.highlighted {
    background-color: var(--sunlight-900);
}

#listArea {
    @apply pt-[7.33333333rem] md:pt-20;
    
}

#listAreaContainer {
    @apply px-12;
}

#listHeader {
    @apply mb-8;
}

#listHeader .icon {
    @apply mr-1;
    display: inline-block;
    background-color: var(--sunlight-500);
}

#listHeader.iconAllCards .icon {
    mask: url("/asset/documents-bold-duotone.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

#listHeader.iconNoTag .icon {
    mask: url("/asset/archive-bold-duotone.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 24px;
    height: 22px;
}

#listHeader.iconTrash .icon {
    mask: url("/asset/trash-bin-bold.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

#listHeader.iconTag .icon {
    mask: url("/asset/tag.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

#listHeader #listTitle {
    @apply text-2xl w-[89%] md:w-[92%];
    font-weight: 700;
    display: inline-block;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--sunlight-gray-100);
}

#cardsList {
    @apply scroll-smooth;
}

#cardsList > li, .cardContainer  {
    @apply mb-4 p-4 bg-white rounded;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

#cardsList > li, #cardsList > li * {
    @apply transition;
}

#cardsList > li:hover {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

#cardsList > li[data-editing="true"] {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

.itemHeader {
    @apply text-sm;
}

.itemHeader {
    line-height: 1rem;
}

.itemHeaderBar {
    position: relative;
    @apply mb-2;
}

.itemMetaInfo {
    color: var(--sunlight-gray-600);
}

.itemMetaInfo .itemId a {
    color: var(--sunlight-gray-600);
    text-decoration: none;
}
.itemMetaInfo .itemId a:hover {
    color: var(--sunlight-gray-600);
    border-bottom: 1px solid var(--sunlight-gray-600);
}

.itemHeaderBar .itemMenuContainer {
    position: absolute;
    right: 0;
    top: -1.5px;
    border-radius: 9px;
    line-height: 1.2rem;
    @apply px-2;
}

.itemHeaderBar .itemMenuContainer:hover {
    background-color: var(--sunlight-gray-700);
}

.itemHeaderBar .itemMenu {
    mask: url("/asset/menu-dots.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--sunlight-gray-600);
    display: inline-block;
    width: 13px;
    height: 4px;
    vertical-align: middle;
}

.itemHeaderBar .itemMenuOptions, .tagMenuContainer .tagMenuOptions {
    @apply p-2 text-base;
    font-weight: 500;
    position: absolute;
    border-radius: 0.53333rem;
    background: var(--sunlight-gray-100);
    color: var(--white);
    border: 0.5px solid #1C1C1C;
    right: 0;
    box-shadow: 
        inset 0 0 0 1px rgba(255, 255, 255, 0.10),
        0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.itemMenuOptions div, .tagMenuOptions div {
    @apply p-1;
    cursor: pointer;
    width: 6rem;
    border-radius: 0.26666667rem;
}

.tagMenuOptions div {
    width: 9rem;
}

.itemMenuOptions div:hover, .tagMenuOptions div:hover {
    background-color: var(--sunlight-500);
}

.itemMenuOptions .icon, .tagMenuOptions .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--white);
    vertical-align: text-bottom;
}

.editOption .icon {
    mask: url("/asset/edit.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
}

.deleteOption .icon {
    mask: url("/asset/delete.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
}

.restoreOption .icon {
    mask: url("/asset/restore.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
}

.itemMenuOptions .label, .tagMenuOptions .label {
    @apply ml-2;
    display: inline-block;
}

#modalOverlay {
    @apply fixed inset-0 flex;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
}

#editTagModal {
    @apply w-[26.66666667rem] mx-auto p-4 self-center;
    border-radius: 0.6rem;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), rgba(246, 246, 246, 0.84);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25), 0px 36px 100px 0px rgba(0, 0, 0, 0.40), 0px 0px 3px 0px rgba(255, 255, 255, 0.10) inset;
    backdrop-filter: blur(50px);
}

.formHeader {
    @apply mb-2;
}

.formHeader p {
    @apply text-sm;
    color: var(--sunlight-gray-500);
}

.formBody {
    @apply mb-4;
}

.formBody input {
    @apply px-2 text-sm;
    width: 100%;
    height: 2.13333333rem;
    border-radius: 0.26666667rem;
    border: 1px solid var(--sunlight-gray-800);
    background-color: var(--white);
    color: var(--sunlight-gray-200);
}

.formBody input:disabled {
    border: none;
    background-color: var(--sunlight-gray-800);
}

.formBody input:focus {
    outline: 2px solid var(--sunlight-500);
}

.formControl {
    @apply flex justify-end;
}

.formControl button {
    @apply px-4 py-2 text-sm;
    color: var(--white);
    font-weight: 500;
    line-height: 1rem;
    border-radius: 0.26667rem;
}

.formControl button.mainBtn {
    @apply ml-2;
    background-color: var(--sunlight-600);
}

.formControl button.mainBtn:hover {
    background-color: var(--sunlight-500);
}

.formControl button.mainBtn.saving .label {
    display: none;
}

.formControl button.mainBtn.saving .icon {
    @apply animate-spin;
    mask: url("/asset/loading.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--white);
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.formControl button.secBtn {
    background-color: var(--sunlight-gray-800);
    color: var(--white);
}

.formControl button.secBtn:hover {
    color: var(--sunlight-gray-500);
}

.itemBody {
    position: relative;
}

.itemBody .content.empty::before {
    content: "What's on your mind at the moment?";
    position: absolute;
    color: var(--sunlight-gray-600);
    line-height: 2rem;
    @apply pl-1;
}

.itemCtrlPanel, #newItemCtrlPanel {
    text-align: right;
}

.itemCtrlPanel .btnCancelCard, #newItemCtrlPanel .btnCancelNewCard {
    @apply mr-2 px-2;
    height: 26px;
    border-radius: 0.26666667rem;
}

.itemCtrlPanel.inactive .btnCancelCard, #newItemCtrlPanel.inactive .btnCancelNewCard {
    @apply hidden;
}

.itemCtrlPanel .btnCancelCard .label, #newItemCtrlPanel .btnCancelNewCard .label {
    @apply text-sm;
    font-weight: 500;
    color: var(--sunlight-gray-500);
}

.itemCtrlPanel .btnCancelCard:hover, #newItemCtrlPanel .btnCancelNewCard:hover {
    @apply rounded;
    background-color: var(--sunlight-gray-600);
    color: var(--white);
}

.itemCtrlPanel .btnCancelCard:hover .label, #newItemCtrlPanel .btnCancelNewCard:hover .label {
    color: var(--white);
}

.itemCtrlPanel .btnUpdateCard, #newItemCtrlPanel .btnCreateNewCard {
    @apply px-3.5 py-1 rounded;
    text-align: center;
    background-color: var(--sunlight-600);
    line-height: 16px;
    vertical-align: bottom;
}

.itemCtrlPanel.inactive .btnUpdateCard, #newItemCtrlPanel.inactive .btnCreateNewCard {
    background-color: var(--sunlight-800);
}

.itemCtrlPanel .btnUpdateCard:hover, #newItemCtrlPanel .btnCreateNewCard:hover {
    background-color: var(--sunlight-500);
}

.itemCtrlPanel.inactive .btnUpdateCard:hover, #newItemCtrlPanel.inactive .btnCreateNewCard:hover {
    background-color: var(--sunlight-800);
}

.itemCtrlPanel .btnUpdateCard:disabled, #newItemCtrlPanel .btnCreateNewCard:disabled {
    background-color: var(--sunlight-800);
}

.itemCtrlPanel .btnUpdateCard .icon, #newItemCtrlPanel .btnCreateNewCard .icon {
    display: inline-block;
    mask: url("/asset/paper-plane.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--white);
    width: 16px;
    height: 16px;
}

#newItemCtrlPanel .btnCreateNewCard .icon {
    
}

#creationTip, #endTip {
    @apply text-center text-base font-medium mb-4;
    color: var(--sunlight-gray-500);
}

#creationTip {
    @apply mt-8;
}

/* Card details window specific styles */

#detailWinHeaderBar {
    @apply text-center text-base font-medium py-1;
    color: var(--sunlight-gray-500);
    -webkit-app-region: drag;
}

#detailWinWrapper {
    @apply mt-6;
}

#linkedCardsTab {
    @apply mt-6 mb-4;
}

#linkedCardsTab {
    line-height: 1;
    font-weight: 500;
    color: var(--sunlight-gray-500);
    @apply text-base;
}

#backlinkTab, #outgoingLinkTab {
    @apply py-1 px-3 rounded-full;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
}

#backlinkTab:hover, #outgoingLinkTab:hover {
    border: 1px solid var(--sunlight-gray-500);
}

#backlinkTab.selected, #outgoingLinkTab.selected {
    background-color: var(--sunlight-gray-500);
}

#backlinkTab .icon {
    display: inline-block;
    mask: url("/asset/backlink.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--sunlight-gray-500);
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

#backlinkTab.selected .icon {
    background-color: var(--white);
}

#backlinkTab.selected .label {
    color: var(--white);
}

#outgoingLinkTab .icon {
    display: inline-block;
    mask: url("/asset/outgoing-link.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--sunlight-gray-500);
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

#outgoingLinkTab.selected .icon {
    background-color: var(--white);
}

#outgoingLinkTab.selected .label {
    color: var(--white);
}

#linkedCards #outgoingLinksCards {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

#linkedCards .noLinkMessage {
    @apply text-center text-base font-medium py-2 rounded;
    background-color: var(--white);
    color: var(--sunlight-gray-500);
}

#omniSearch {
    position: absolute;
    top: 0;
    left: 0;
    @apply px-10;
}

#omniSearchContainer {
    @apply px-2 py-2;
    background-color: var(--sunlight-gray-900);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--sunlight-gray-700);
    border-radius: 0.26667rem;
}

#searchBox {
    @apply h-[1.73333333rem];
    border-radius: 0.26667rem;
    background: var(--sunlight-gray-800);
    padding-left: 0.5rem;
    -webkit-app-region: no-drag;
}

#searchBox:focus {
    outline: none;
}

#suggestionBox {
    @apply mt-2;
    background-color: var(--sunlight-gray-900);
}

#suggestionResults .suggestedItem {
    @apply h-[1.86666667rem] px-2;
    line-height: 1.86666667rem;
    border-radius: 0.26667rem;
    background-color: #F2F3F5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#suggestionResults .suggestedItem .icon::before {
    /* to do later */
}

#suggestionResults .suggestedItem.highlighted {
    background: var(--sunlight-500);
    color: var(--white);
}

#suggestionResults .suggestedItem.highlighted .icon::before {
    /* to do later */
}

#trialBar {
    @apply fixed bottom-0 z-50 inset-x-0 md:ml-64 px-6 pb-4;
}

#trialBar #trialBarContainer {
    @apply py-3 px-4 relative;
    background: var(--white);
    border-radius: 0.26666667rem;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
    font-weight: 700;
}

#trialBar #trialBarContainer div {
    display: inline-block;
    color: var(--sunlight-gray-200);
}

#trialBar #trialBarContainer button {
    @apply text-sm px-3 py-1;
    line-height: 1;
    color: var(--white);
    float: right;
    background-color: var(--sunlight-gray-500);
    border-radius: 0.26666667rem;
    margin-top: 1px;
}

#trialBar #trialBarContainer button.saving .icon {
    @apply animate-spin mr-1;
    mask: url("/asset/loading.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--white);
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: text-bottom;
}

#trialBar #trialBarContainer button:hover {
    background-color: var(--sunlight-gray-400);
}

#trialBar #trialBarContainer #trialBarCloseBtn {
    @apply absolute;
    mask: url("/asset/close.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--sunlight-gray-500);
    width: 12px;
    height: 12px;
    top: -0.4rem;
    left: -0.4rem;
    opacity: 0.4;
}

#trialBar #trialBarContainer #trialBarCloseBtn:hover {
    cursor: pointer;
    opacity: 1;
}