@charset "UTF-8";
@import "./github-markdown-light.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body, html{
  height: 100%;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

body * + * {
  margin-top: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

textarea#longTextInput {
  width: 100%;
  resize: vertical;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
}

textarea#longTextInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.list-container {
  width: 100%;
  margin-bottom: 15px;
  scroll-padding-bottom: 15px;
  min-height: 0;
  /* height: calc(100vh - 100px); */
}

.list-item {
  padding: 10px !important;
  background-color: #f8f9fa;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 15px !important;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Add weak border */
  transition: all 0.3s;
  min-height: 0;
}

.list-item .card-id {
  color: grey;
  font-size: 14px;
}

.list-item .content {
  white-space: pre-wrap;
  font-size: 16px;
}

.list-item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 1px solid rgba(0, 0, 0, 0.3); /* Add stronger border on hover */
}

.list-item .top-row {
  display: flex;
  align-items: center;
}

.list-item .top-row .edit-button,
.list-item .top-row .delete-button {
  margin-left: auto;
  margin-right: 8px;
}

.bottom-row {
  display: none;
}

.input-text {
  display: block;
  width: 100%;
}

.notes {
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container input[type=text] {
  flex: 1;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

.search-results {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
}

.search-results li {
  position: relative;
  margin-top: 0.5em;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #ddd;
}

.tags-container {
  display: flex;
  flex-direction: column;
}

.tags-container a {
  display: block;
  text-align: right;
  margin-top: 0.5em;
}

.content p {
  @apply truncate;
}

.markdown-body{
  background: none;
}

.hl-list-item{
  border-radius: 4px;
  background: #59667224;
}