.CodeMirror-hints {
    position: absolute;
    z-index: 10;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    background: #FFFFFF;
    max-height: 10rem;
    min-width: 12.4rem;
    font-size: 0.86666667rem;
    border-radius: 0.53333rem;
    background: #ECE7E3;
    border: 0.5px solid #BABABA;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.10), 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 0.4rem;
}

.CodeMirror-hint {
    display: block;
    overflow-x: hidden;
    line-height: 1.33333333rem;
    white-space: pre;
    color: #121417;
    cursor: pointer;
    border-radius: 0.26666667rem;
    padding: 0.13333333rem 0.53333333rem;
}

li.CodeMirror-hint-active {
    background: #66A1F9;
    color: #FFFFFF;
}